body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  display: flex;
  justify-content: center;
}

#display, #main, #panel {
  /* align-items: center; */
  display: flex;
  width: 700px;
  flex-direction: column;
}

#display {
  box-sizing: border-box;
  height: 100px;
  background-color: #b8bfc2;
  font-weight: bold;
  color: white;
  padding: 15px;
  text-align: right;
  font-size: 3em;
}

.group {
  height: 100px;
}